@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');


:root {
   /* --colorMain: #C7AE94;
    --colorSecond: #5B4849; */
   --colorMain: #f9db6d;
   --colorMainHot: #ffff3c;
   --colorMainDark: #dabf60;
   --colorSecond: #8b40d1;
   --colorSecondDark: #7F2CCB;
   --letra-parrafos: sans-serif;
   --letra-titulos: "Almendra", serif;
}


* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}





/*ESTILOS GENERALES*/
/************************************************/



/*MOBILE*/


.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   background-color: var(--colorSecondDark);
}


/*HEADER mobile*/
.header-mobile {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--colorSecondDark);
   padding: .5em 5% .2em 4%;
   margin-bottom: .75em;
}

.header-mobile .wrap-logo {
   width: 150px;
   transform: rotate(-2.5deg);
}

.header-mobile .wrap-logo img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.header-mobile .bi-list {
   font-size: 2.5em;
   font-weight: bolder;
   color: rgb(255, 255, 255);
}



/*ASIDE*/

.background-glass {
   background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
   backdrop-filter: blur(10px);
   position: fixed;
   top: 0;
   width: 120%;
   height: 100vh;
   transition: all .4s;
   z-index: 50;
}

.glass-hidden {
   display: none;
}

aside {
   background-color: var(--colorSecondDark);
   top: 0;
   left: 0;
   width: 70%;
   height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 2em 0 1em 0;
   z-index: 100;
   color: white;
   font-family: var(--letra-parrafos);
   box-shadow: 7.5px 0 15px rgba(0, 0, 0, 0.5);
   transform: translate(-110%);
   transition: all .4s;
}

.menu-toggle {
   transform: translateX(0);
}

.bi-x {
   position: absolute;
   top: .05em;
   right: .05em;
   font-size: 3em;
   padding: .07em;

}

aside header,
nav {
   padding-left: 8%;
}
aside header{
   margin-top: -.5em;
   display: flex;
   align-items: center;
}
aside header .wrap-logo {
   width: 82.5%;
   transform: rotate(-2.5deg);
}

aside header .wrap-logo img {
   object-fit: cover;
   width: 90%;
   height: 90%;
}

nav {
   width: 100%;
   align-self: flex-end;
   display: flex;
   flex-direction: column;
   gap: 2em;
   margin-top: -.5em;
}

.menu {
   display: flex;
   flex-direction: column;
   gap: .3em;
   font-size: 1em;
   font-weight: 800;

}

.menu li {
   padding: 1em 0;
   width: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   padding-left: .5em;
   display: flex;
   align-items: center;
   margin-left: .175em;
   transition: background-color .3s;

}
.menu li:hover{
   background-color: #9141db;
   cursor: pointer;
}
.bi-caret-right-square,
.bi-caret-down-square-fill {
   margin-right: .5em;
   margin-left: .25em;
   font-size: 1.3em;
}

.menu .active {
   background-color: var(--colorMainHot);
   color: var(--colorSecondDark);
}
.menu .active:hover{
   cursor: pointer;
   background-color: var(--colorMainHot);
}

.carrito {
   color: white;
   display: flex;
   gap: .5em;
   font-size: 1em;
   font-weight: 800;
   align-items: center;
   padding-left: 1em;
   font-size: 1.1em;
   text-align: center;

}

.carrito i {
   color: var(--colorMainHot);
}

#numCarrito {
   background-color: var(--colorMainHot);
   color: var(--colorSecondDark);
   padding: 0 .3em;
   border-radius: 5px;
}

aside footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: .5em;
}

.social-media {
   font-size: 1.2em;
   display: flex;
   gap: .1em;
}

.social-media a {
   color: white;
   padding: .5em;
}

aside footer p {
   color: rgba(219, 219, 219, 0.511);
   font-size: .8em;
}





/*MAIN*/

main {
   background-color: var(--colorMainHot);
   width: 92.5%;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding: 1.5em;
   font-family: var(--letra-parrafos);
   min-height: 100vh;
   position: relative;
}

h2 {
   font-family: var(--letra-titulos);
   font-weight: 700;
   font-style: italic;
   color: var(--colorSecondDark);
   font-size: 2.5em;
   margin-bottom: .1em;
   margin-top: -.25em;
}

.container-productos {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-auto-rows: max-content;
   gap: 2em;
}

.producto {
   padding: 1em;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   gap: .5em;
   background: linear-gradient(135deg,rgb(24, 24, 24), rgba(192, 192, 16, 0.658), rgb(92, 92, 92));
}


.wrap-produc_img{
   width: 100%;
   height: 100%;
}
.wrap-produc_img img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 20px;
}
.producto-detalles {
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   gap: .3em;
   padding: 0 .5em;
}

.producto-titulo {
   font-size: 1.3em;
   font-weight: 900;
   line-height: 85%;
}

.producto-precio {
   font-size: 1.1em;
   margin-bottom: .25em;
}

.producto-agregar {
   width: 100%;
   padding: .5em 1em;
   border-radius: 20px;
   font-size: .8em;
   font-weight: 800;
   background: var(--colorSecondDark);
   border: 3px solid var(--colorSecondDark);
   color: rgb(255, 255, 255);
   transition: all .3s;
}
.producto-agregar:hover, .producto-agregar:active{
   cursor: pointer;
   background-color: #250344;
}

.bi-chevron-double-up{
   position: absolute;
   background-color: white;
   border-radius: 50%;
   padding: .25em;
   font-size: 2em;
   bottom: 2%;
   right: 1%;
   position: fixed;
   transition: all 1s;
   display: none; 
}

.visible{
   display: block;
}

/************************************************************************************************/

/*RESPONSIVE*/

@media(min-width:500px) {
   .container-productos {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
   }

}



/*TABLET*/
@media(min-width: 768px) {
   .wrapper {
      flex-direction: row;
      align-items: flex-start;
   }

   .header-mobile {
      display: none;
   }


   /*ASIDE*/
   #aside {
      transform: translateX(0);
      position: sticky;
      width: 40%;
      box-shadow: none;
      height: 100vh;

   }

   aside header .wrap-logo {
      margin-top: .5em;
      margin-left: -.5em;
      width: 100%;
      max-width: 250px;
   }

   .bi-x {
      display: none;
   }

   aside footer {
      gap: .1em;
   }



   /********************************/

   /*MAIN*/
   main {
      margin: 1.5em 1.5em 0 0;
      width: 100%;
      min-height: 96.52vh;
   }

   h2 {
      font-size: 2.8em;
      margin-bottom: .25em;
      margin-top: 0;
   }



}

/***********************************/

/*NOTEBOOK*/
@media (min-width: 992px) {
   .container-productos {
      grid-template-columns: repeat(3, 1fr);
   }
   .pc{
      display: none;
   }
}


/*ESCRITORIO*/
@media (min-width: 1200px) {
   #aside{
      width: 25%;
   }
   .container-productos {
      grid-template-columns: repeat(4, 1fr);
   }
}

